<div class="couple_story_card">
	<div class="card">
  		<div class="card_title">
  			<img src="/img/avatar.png" width="32px" height="32px" class="responsive-img" />
  			<span>{{partnerHigher.firstName}} & {{partnerLower.firstName}}'s Story</span>
  			<i class="material-icons">edit</i>
  		</div>
  		<div class="card_content">
  		
  			<div class="couple_story">
  				<!-- we need to create real content for these couples:{{couple.story}} -->
           		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ex justo. Vestibulum consequat massa feugiat tortor dapibus auctor. Donec viverra ac nulla vitae accumsan. Etiam lorem libero, convallis non maximus et, laoreet a diam. Donec nec arcu vel nisi faucibus aliquet. Nullam mattis enim quis diam posuere, ut cursus ipsum pharetra. Ut in porttitor nisi. Pellentesque et nisi eget ipsum blandit luctus amet.
          	</div>
  		</div>
  	</div>
</div>