<div id="contact" class="modal">
	
	<div class="card">
		<div class="card-title">
			Contact Us
		</div>
		
		<div class="card-content">
			<span class="card-sub-title hide-on-med-and-down">Please fill out the form below to receive help from us here at <b>2COUPLESCONNECT</b></span>
			<form id="contactUsForm">
				<div class="input-field col s12">
		       		<input id="contactSubject" name="subject" type="text" class="validate">
		       		<label for="contactSubject">Please enter a subject</label>
		       		<span class="active helper-text" data-error="" data-success=""></span>
		     	</div>
				<div class="input-field col s12">
		       		<input id="contactSenderEmailAddress" name="emailAddress" type="text" class="validate">
		       		<label for="contactSenderEmailAddress">What's your email address?</label>
		       		<span class="active helper-text" data-error="" data-success=""></span>
		     	</div>
		     	<div class="input-field col s12">
		          <textarea id="contactMessage" name="contactMessage" class="materialize-textarea"></textarea>
		          <label for="contactMessage">Please enter your message below:</label>
		        </div>
		</div>
		
		<div class="card-actions">
					<button type="submit" class="submitContactMessage btn light-blue modal-close">Contact Us</a>
							</form>
				
		</div>
	</div>


</div>
          
          