<div class="row center-align">
	<div class="col s12 m12 l12">
		<h4>Let us show you how</h4>
		<div class="col s12 m12 l4">
		<iframe id="2couplesconnect-youtube-one" class="youtube-video z-depth-1"
			width="100%" 
			height="315" 
			src="{{ links.how_to_one }}"
			frameborder="0" 
			allow="autoplay; encrypted-media" 
			allowfullscreen>
		</iframe>
		</div>
		<div class="col s12 m12 l4">
		<iframe id="2couplesconnect-youtube-two" class="youtube-video z-depth-1"
			width="100%" 
			height="315" 
			src="{{ links.how_to_two }}"
			frameborder="0" 
			allow="autoplay; encrypted-media" 
			allowfullscreen>
		</iframe>
		</div>
		<div class="col s12 m12 l4">
		<iframe id="2couplesconnect-youtube-three" class="youtube-video z-depth-1"
			width="100%" 
			height="315" 
			src="{{ links.how_to_three }}"
			frameborder="0" 
			allow="autoplay; encrypted-media" 
			allowfullscreen>
		</iframe>
		</div>
	</div>

</div>
