{% extends "../base.twig.html" %}

{% block content %}
	<header>
	<div class="container">
			<div class="row">
			
			<div class="header-index col s12 no-padding">
			<div style="margin: 0 auto;">
				<div class="branding">
					<div>2CouplesConnect</div>
					<span>Real Friends, Real Fast</span>
					<div class="social-media-icons">
						<a href="https://www.facebook.com/2CouplesConnect-231260174216415/" target="_blank"><img src="/img/fb.png" alt="2CouplesConnect Facebook" /></a>
						<a href="https://www.instagram.com/2couplesconnect/" target="_blank"><img src="/img/ig.png" alt="2CouplesConnect Instagram" /></a>
					</div>
				</div>

				<div class="card">
				
					<div class="card-title">
						<i class="material-icons">priority_high</i>Terms and Conditions & Privacy Policy
					</div>

					<div class="card-content">
						Below are our terms and conditions and our privacy policies, it is important as a user of this site to read and understand these policies. Please don't hesitate to <a href="/help">contact us</a> with any questions or concerns.
					</div>
					
					<div class="card-action">
						{% if homePartner is empty %}
							<a class="btn light-blue" href="/">Login</a>
							<a class="btn light-blue right" href="/">Create Account</a>
						{% else %} 
							<a class="btn light-blue" href="/profile">Back to your Profile</a>
						{% endif %}
						
					</div>
				</div>
				
			</div>

			</div>
			
			
			
			</div>
	</div>
	</header>
	
	<div id="sheet">
	<div class="sheet_content container no-padding">
<ul id="policies" class="collapsible">
   <li>
     <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i><b>Terms and Conditions</b></div>
     <div class="collapsible-body">
<p>This terms of conditions of use ("Terms of Use," "terms") apply to our website found at
www.2CouplesConnect.com, all our services and all associated links and apps of
2CouplesConnect. By using our website, you are agreeing to everything outlined in these
terms. If you do not agree, please do not use our website or downloadable app.
2CouplesConnect reserves the right to modify, change, add and remove any portion of this terms
at our own discretion. It is the user's (your) responsibility to check these terms from time to time
for any changes. Continued use of our products indicates agreement to the new terms.
To learn more about our privacy policy scroll down.</p>

<p>This site and its features are owned by TAKJD LLC. And protected by copyright/patent.
Arbitration: You agree that disputes between 2CouplesConnect and you will be resolved by
individual arbitration and waive your right to participate in a class action lawsuit or classwide
arbitration.</p>

<p>
<b>What 2CouplesConnect offers for you</b>
<ul>
<li> We allow our users to share photos and written details about themselves with their
partner. We understand that its getting harder to make friends, so we created this
app/website to take your answers to our survey question and use them to match you with
like-minded couples.</li>
<li> Write your own "story" or bio, fill out basic information and our survey questions then
view your recommended couples or search on your own! Once you and your partner both
agree to like a couple try sending a message and hopefully through these chats make new
friends to do things together with in real life!</li>
<li> We are constantly analyzing, developing and using technology to give you the best
possible environment while searching for your perfect double date partners.</li>
<li> The website is free unless you opt in for our premium membership</li>
<li> You agree that we can download and install updates to 2CouplesConnect on your
device.</li>
</ul>
</p>
<p>
<b>Your Use of 2CouplesConnect's Website, Products and Apps</b>
<ul>
<li> Users must be at least 18 years of age to access the 2CouplesConnect website, app and
products. If a minor is found lying about their birth year to access 2CouplesConnect their
account will be terminated immediately</li>
<li> The 2CouplesConnect community and we are expecting users to behave in a respectable and
appropriate manner. User accounts may be terminated, banned for periods of time or issued
warnings they do not behave appropriately with the 2CouplesConnect community.</li>
<li> Behaving inappropriately includes chatting with other couples in a harmful, unlawful,
threatening, abusive, defamatory, vulgar, lewd, profane, invasive or hateful way. Sending or 
uploading inappropriate photos of themselves or others will not be tolerated as well.
Inappropriate photos are pictures of exposed genitalia, exposed female breasts, exposed
buttocks, are unlawful, harmful, threatening, abusive, tortious, defamatory, vulgar, lewd,
profane, invasive of another's privacy, or hateful. Trying to sell goods or services to other
couples is forbidden. Using the site as a platform to advertise another organization's meetings
or events, or to recruit is forbidden as well.</li>
<li> You may not impersonate or pretend to be another person or entity. Users must use their
real name or name they use in everyday life.</li>
<li> You may not post or share private or confidential information or engage in any behavior
that violates another person's rights.</li>
<li> If you think someone on our website or app is behaving irresponsibly or has uploaded an
inappropriate photo, please report them to us by support@2CouplesConnect.com and send
screenshots to assist in our investigation before we act.</li>
<li> Although we will try to investigate and remove users who are not behaving
responsibly, 2CouplesConnect will not be held liable for what others do or say.
Security</li>
<li> We do our best to ensure the safety and security of our product to our users and take the
privacy of your information seriously. One of the ways we manage our security is by
having a zero-tolerance policy on people attempting to disable, impair, or destroy our
services and software.</li>
<li> You may not upload, share, store or send any content or code that contains viruses,
malicious code, malware, or any components designed to harm or limit the functionality
of other users' computer, access to 2CouplesConnect's services or software or our
services or software.</li>
<li> You may not use 2CouplesConnect to participate or send chain letters, junk mails,
pyramid schemes, phishing, spamming, or other unsolicited messages.</li>
<li> Place an advertisement of any products or services on 2CouplesConnect unless given
approval by us.</li>
<li> You may not engage in data mining or other similar data gathering and extracting
methods on our website or app.</li>
<li> You may not attempt to hack, "mine" or use any other illegitimate means to gain unauthorized
access to any portion or feature of our website and app.</li>
<li> Our service is provided "as is" and we can't guarantee its safety and security or if it will
always be working. To the extent permitted by law we disclaim all warranties whether
expressed or implied.</li>
<li> We are not responsible for the services and features of offered by other businesses even if
you access them through our website or app.</li>
<li> You agree that we are not liable lost profits, revenue, information or data.</li>
</ul>
</p>
<p>
<b>Advertisements</b>
<ul>
<li>While we try to make this as convenient and friendly for you as we can by providing everything
for free, but we need money to keep enhancing our website and rewarding the ones who worked
on it!</li>
<li> We will run ads on the page and on our mobile app that will help us generate some
revenue from your clicks and views.</li>
<li> Using data collected from 2CouplesConnect products and third-parties we will try to
show you ads, offers and sponsored content that you are actually interested in.</li>
</ul>
</p>
<p>
<b>Payment Policies</b>
<ul>
<li>Our policies on payments are outlined in our Privacy Policy that can be found below.</li>
<li> IF you sign-up for our paid membership, your credit card will be charged one time up
front for the term you chose (1-month, 3-month, 6-month, or annual contract)</li>
<li>There is a no-refund policy.</li>
</ul>
</p>
<p>
<b>Our Agreement</b>
<ul>
<li> Any amendment or waiver to this agreement must be in writing and signed by us.</li>
</ul>
</p>
     </div>
   </li>
      <li>
     <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i><b>Privacy Policy</b></div>
     <div class="collapsible-body">
		Your privacy is important to us, so we developed this Privacy Policy which details what information 2CouplesConnect collect from or about users of the Website, our mobile application and other interactions (e.g., customer service inquiries, etc.). We will never share your email or phone number information with any other partner or affiliate. We will never store your address.
		This policy states our uses regarding your information. By accessing the 2CouplesConnect website and mobile app, you agree to the use of your data as described in this policy. This Privacy Policy also describes the choices regarding what you can do about 2CouplesConnect's use and access to your personal information. If you do not agree with the terms, do not access or use the 2CouplesConnect websites or mobile application.
		
		<p>
			<b>This Privacy Policy is organized for your convenience into the following categories:</b>
			<ul>
				<li>1. What Information We Collect from Our Users</li>
				<li>2. How 2CouplesConnect Uses This Information</li>
				<li>3. When and Why We Disclose Information</li>
				<li>4. What You Can Control</li>
				<li>5. Privacy Laws</li>
				<li>6. Updates to This Privacy Policy</li>
				<li>7. Our Contact Information</li>
			</ul>
		</p>
		<p>
		<b>1. What Information We Collect from Our Users:</b>
		<br />2CouplesConnect collects the following information you provide to find and match you with your new couple friends:
		<ul>
		<li><b>Personal information:</b>
			<ul>
				<li>2CouplesConnect will collect some user submitted personal information including your name, date of birth/age and location (by location services or user inputted zip code). This also includes matchmaking data inputted by you about your personal preferences through the survey and demographic information.</li>
				<li> Account information: personal information users input when they make an account. This includes email address and password, photos and videos uploaded, files, messages and other content.</li>
				<li>We will keep personal data we process for our users for as long as needed to provide services to the user. Website may also retain personal information as necessary to comply with legal obligations, resolve disputes and enforce our agreements.</li>
			</ul>
		</li>
		<li><b>Tracking information:</b>
			<ul>
				<li>2CouplesConnect web server automatically recognizes each time you visit our website or email us. This includes your domain name, your email and pages you visit.</li>
				<li>Location information that includes state/province, city, zip code, precise location data and permitted your mobile device to transmit location data.</li>
			</ul>
		</li>
		<li><b>Transaction information:</b>
			<ul>
				<li>when you sign up for the paid premium membership of 2CouplesConnect we collect the necessary information to process and complete your transaction. This includes your name, payment information and billing information.</li>
				<li>Our primary payment processor is Square. We will not keep any information you input as part of your financial transaction.</li>
			
			</ul> 
		</li>
		<li><b>Mobile device information:</b> 
			<ul>
				<li>users may give 2CouplesConnect access to components on their device such as photos, contacts, camera and microphone.</li>
			</ul>
		</li>
		
		<li>2CouplesConnect offers a blog for users to read and engage with. Posted messages and content in this blog and other forums within 2CouplesConnect will be stored and public for other users to view.</li>
		</ul>
		</p>
		
		<p>
		<b>2. How 2CouplesConnect Uses This Information:</b>
		<ul>
		<li>2CouplesConnect uses this information to track site usage, improve our website and app to better serve our users and other communication tools to notify users of updates. 2CouplesConnect also collects this information from its users to be able to accurately locate couples in the area to chat and hang out with. Other personal information such as your name, age and preferences will be used to better match you and your partner with other couples who are like you and match what you put down as your criteria for your potential couple friends.</li>
		<li>2CouplesConnect may collect your internet protocol address, internet domain name, the web browser and operating system used to access the 2CouplesConnect website and mobile application. 2CouplesConnect use cookies or similar technology to
		 analyze trends, administer the website, track users' movements around our services.</li>
		
		<li>We use mobile analytics software to allow us to better understand the functionality of our mobile applications on your phone. This software may record information such as
		how often you use the application, the events that occur within the application, aggregated usage, performance data, and where the application was downloaded from. We do not link the information we store within the analytics software to any personal information you submit within the mobile application.
		</li>
		</ul>
		</p>
		
		<p>
		<b>3. When and Why We Disclose Information:</b>
		<ul>
		<li>
		2CouplesConnect will work with advertisers and partners. This includes Facebook advertisement and Google advertisement. We will also work with multiple partners to continue to better our website including support@2couplesconnect.com. Personally, Identifiable Information (PII) will never be disclosed by this website.
		</li>
		<li>
		Anonymous, aggregated data may be shared with these partners. If you do not agree to sharing your information with these partners, do not use our website or mobile app.
		</li>
		<li>
		Information shared will be used to help us find advertisements that you enjoy.
		Partners will never be able to target you specifically with this information.
		</li>
		<li>
		2CouplesConnect will use cookies and other third-party service tools to measure the
		success of our advertising and other information which lets us know what kind of
		advertisements you like to see.
		</li>
		<li>
		As required by law and similar disclosures: 2CouplesConnect may also share
		personal information to defend ourselves in lawsuits, in courts in the United States or similar events to protect and enforce our and other's property and rights.
		</li>
		</ul>
		</p>
		
		<p>
		<b>4. What You Can Choose:</b>
		<ul>
		<li>
		We utilize an Opt-Out policy for sending online notifications regarding services and programs. You may stop receiving these emails in your communication preferences by clicking on unsubscribe on any email or by
		emailing support@2couplesconnect.com.
		</li>
		<li>
		Mobile: The main feature of the 2CouplesConnect products is to match you and your partner with couples who live nearby and give you a rough estimate of how far your potential friend is (5 miles, 10 miles, 15 miles, etc.). For this reason, we may access and collect information about your current and past locations to successfully find the best choice of couple friends for you. This data can be collected by location-based features such as GPS, IP address or cell tower location. You may choose to not let us access your cookies or location on your mobile device settings. However, doing so may prevent you from using the 2CouplesConnect website and app.</li>
		<li>
		Agreement: If there is anything in the 2CouplesConnect Privacy Policy that you do not agree with, you may refrain from using our products and/ or contact us with your concerns at support@2couplesconnect.com__. By using the 2CouplesConnect website or app, you are agreeing to this privacy policy.
		</li>
		</ul>
		</p>
		
		<p>
		<b>5. Privacy Laws:</b>
		<ul>
		<li>
		2CouplesConnect is administered from the United States but welcome to users residing anywhere.
		</li>
		<li>
		To comply with the recent G.D.P.R. (General Data Protection Regulation) European privacy laws, users may request at any time to have all their account and data deleted by emailing support@2couplesconnect.com_.
		</li>
		<li>
		International Laws: Because our servers provide for people in different countries, laws vary from place to place. 2CouplesConnect will maintain the protection and usage outlined in this Privacy Policy to users regardless of where your information is processed. If there is a concern or something you disagree with, please email us at support@2couplesconnect.com so we may work out the issue with you and continue to provide you our friend making services without intruding on your rights.
		</li>
		<li>
		Children Privacy: 2CouplesConnect does not knowingly collect, maintain or use personal information from people under the age of 18. Our website and mobile app is
		not intended for the use of people or couples under 18. If you come across a user under the age of 18 on our servers, please notify us by emailing support@2couplesconnect.com with their full name so we may investigate and terminate their account if necessary.
		</li>
		</ul>
		</p>
		
		<p>
		<b>6. Updates to This Privacy Policy:</b>
		<ul>
		<li>This Privacy Policy will be updated when needed and can be modified at any time. If any changes are made to this Privacy Policy, we will email you (if you provided us your email) or another reasonable method to notify you of the changes. Changes will be implemented as soon as they are posted and continued usage of our website or mobile application indicates agreement with our new policies.</li>
		
		<li>
		You may refer to the posted Privacy Policy at any time and view the date at the top to know when this policy was created, and the rules implemented.
		</li>
		<li>
		If you do not agree to an update of the 2CouplesConnect Privacy Policy, you must email support@2couplesconnect.com to deactivate your account and let us know you would also like your data deleted. As stated before, continued usage of our service after an update indicates approval of changes.
		</li>
		</ul>
		</p>
		
		<p>
		<b>7. Contact:</b>
		<ul>
		<li>
		For any questions or concerns about 2CouplesConnect's Privacy Policy, please email support@2couplesconnect.com or visit our <a href="/help">help page</a> which contains a contact form!
		</li>
		</ul>
		</p>
     </div>
   </li>
  </ul>
  
  
  
	
 </div>
	</div>
	
{% endblock %}