				<div class="card">
					<div class="card_title">
						<span>Contact Information</span>
						<i class="material-icons">group_add</i>
					</div>
					<div class="card-content">
						<div class="row">
						<div class="input-field col s12">
							<input id="phoneNumber" name="phoneNumber" type="text" value="{{ partner.phoneNumber }}">
							<label>Phone Number:</label>
						</div>
						<div class="input-field col s12">
							<input id="emailAddress" name="emailAddress" type="text" value="{{ partner.emailAddress }}">
							<label>Email Address:</label>
						</div>
						<button type="submit" class="btn light-blue right">Save</button>
						</div>
					</div>
				</div>