 						<div id="no-more-couples-view" style="display: table; height: 100%; margin: 0 auto;">
							<div style="display: table-cell; vertical-align: middle;">
							<div class=" no-more-couples card" style="width:85%; height: 60%; margin: 0 auto;">
								<div class="card-title">
									No More Couples!
								</div>
								<div class="card-content">
									It looks like you are all out of recommended couples to browse through. Why don't you
									check back in later for some more?
								</div>
								<div class="card-action">
									<a class="btn light-blue" href="/profile">Back to Profile</a>
								</div>
							</div>
							</div>
							</div>