<div id="forgotYourPasswordModal" class="modal">
	
	<div class="card">
		<div class="card-title">
			Forgot your password?
		</div>
		
		<div class="card-content">
			<span class="card-sub-title hide-on-med-and-down">Not a problem, we can send you a new one via your email!</span>
			<form id="forgotYourPasswordForm">
				<div class="input-field col s12">
		       		<input id="forgotPasswordEmailAddress" name="emailAddress" type="text" class="validate">
		       		<label for="forgotPasswordEmailAddress">What is your email?</label>
		       		<span class="active helper-text" data-error="" data-success=""></span>
		       
		     	</div>
			</form>
		</div>
		
		<div class="card-actions">
					<button type="submit" class="submitForgotYourPassword btn light-blue">Request Password Change</a>
				
		</div>
	</div>


</div>
          
<script type="text/javascript">
$(document).ready(function() {
	
	$("body").on('click', '.submitForgotYourPassword', function(){
		var email = $("#forgotPasswordEmailAddress").val();
		
		$.ajax({
		    type: "GET",
		    url: "/password-reset?request="+email,
		    success: function (response) { 
		    	setTimeout(function (){
		    		var instance = M.Modal.init($("#forgotYourPasswordModal"), {});
		    		instance.close();
		    		}, 1000);
		    	
		    	$(".submitForgotYourPassword").text("Password Sent");
		    	$(".submitForgotYourPassword").addClass("disabled");
		    }
		});
	});
	$("body").on("submit", "#forgotYourPasswordForm", function(e){
		e.preventDefault();
		$(".submitForgotYourPassword").click();
		return false;
	});

});
</script>          