 <div class="loginDiv card">
	<div class="card-title">
		<i class="material-icons">how_to_reg</i>
		<span>Password Changed!</span>
	</div>
	<div class="card-content">
		<span class="card-sub-title hide-on-med-and-down">Please try to login!</span>
	
		<form id="loginForm">
			<div>
				<div class="row">
					<div class="input-field col s6">
						<input id="loginEmail" class="validate" name="emailAddress" type="text">
						<label for="loginEmail" class="inputRequired">Email Address:</label>
						<span class="active helper-text" data-error="" data-success=""></span>
						
					</div>

					<div class="input-field col s6">
						<input id="loginPassword" class="validate" name="password" type="password">
						<label for="loginPassword">Password:</label>
						<span class="active helper-text" data-error="" data-success=""></span>
						
					</div>
				</div>
			</div>	
	</div>
	<div class="card-action">
		<input type="submit" class="login-btn btn light-blue" value="LOGIN" />
	</div>
	</form>

</div>
