{% extends "../base.twig.html" %}

{% block content %}

<header class="fullPageHeader">
<div id="resetYourPasswordModal" style="margin:0 auto;">
	
	<div class="card">
		<div class="card-title">
			Change your Password
		</div>
		
		<div class="card-content">
			<span class="card-sub-title hide-on-med-and-down">Please confirm a new password for your account</span>
			<form id="resetYourPasswordForm">
				<div class="input-field col s12">
		       		<input id="resetPasswordNewPassword" name="newPassword" type="password" class="validate">
		       		<label for="resetPasswordNewPassword">New Password</label>
		       		<span class="active helper-text" data-error="" data-success=""></span>
		     	</div>
				<div class="input-field col s12">
		       		<input id="resetPasswordConfirmNewPassword" name="confirmNewPassword" type="password" class="validate">
		       		<label for="resetPasswordConfirmNewPassword">Confirm New Password</label>
		       		<span class="active helper-text" data-error="" data-success=""></span>
		     	</div>
		     	<input type="hidden" value="{{passwordToken}}"/>
			</form>
		</div>
		
		<div class="card-actions" style="padding: 16px">
			<button type="submit" data-token="{{passwordToken}}" class="submitResetYourPassword btn light-blue">Change Password</a>
		</div>
	</div>


</div>
 </header>
 
 <script type="text/javascript">
$(document).ready(function() {
	
	$("body").on('click', '.submitResetYourPassword', function(e){
		var token = $(this).attr('data-token');
		var newPassword = $("#resetPasswordNewPassword").val();
		var data = {
			"token": token,
			"password": newPassword,
		};
		e.preventDefault();
		
		var pwd = $("#resetPasswordNewPassword").val();
		var newPwd = $("#resetPasswordConfirmNewPassword").val();
		var errors = 0;
		console.log(pwd);
		console.log(newPwd);
		
		if(pwd != "" && newPwd != "") {
		
			if(pwd != newPwd) {
				$("#resetPasswordNewPassword").addClass("invalid");
				$("#resetPasswordNewPassword").siblings(".helper-text").attr('data-error', 'Passwords must match');
				$("#resetPasswordConfirmNewPassword").addClass("invalid");
				errors++;
				return false;
			}
		
		} else {
			$("#resetPasswordNewPassword").addClass("invalid");
			$("#resetPasswordNewPassword").siblings(".helper-text").attr('data-error', 'Please enter in a password');
			$("#resetPasswordConfirmNewPassword").addClass("invalid");
			errors++;
			return false;
		}
		
		$.ajax({
		    type: "POST",
		    url: "/password-reset",
		    data: data,
		    success: function (response) { 
		    	console.log($.parseHTML(response));
		    	$("body").find(".fullPageHeader").html($.parseHTML(response));
		    	
		    	var loginBtn = $("body").find(".login-btn")[0];
		    	var form = $("body").find("#loginForm")[0];
		    	var partnerData = {};
		    	
		    	var thisForm = form;
		    	var processResponse = function(responseStatus, responseText){
		    		if (responseStatus == 200){
		    			//TODO
		    			// This probably shouldnt be here!!!
		    			//You want to do the redirect on the back end!!!
		    			//$(thisForm.elements).last().removeClass("light-blue");
		    			//$(thisForm.elements).last().addClass("green");
		    			$(loginBtn).removeClass("light-blue");
		    			$(loginBtn).addClass("green");
		    			$("#loginEmail").siblings(".helper-text").attr('data-success', "Login Successful");

		    			window.location.href = CONFIGURATION.WEBPAGES.PROFILE
		    		} else if (responseStatus == 401){
		    			//alert(responseText);
		    			console.log(responseText);

		    			$(thisForm.elements['emailAddress']).addClass('invalid');
		    			$(thisForm.elements['emailAddress']).parent().find('.helper-text').attr('data-error', responseText);
		    			$(thisForm.elements['password']).addClass('invalid');
		    			
		    		}
		    	};
		    	
		    	$(loginBtn).on("click", function() {
		    		var formElements = form.elements;
		    		for (let i=0; i < formElements.length; i++){
		    			let element = formElements[i];
		    			if (element.name){
		    				partnerData[element.name] = element.value;
		    			}
		    		}
		    		

		    			var partner = Object.create(Partner);
		    			partner.setup(partnerData);
		    			partner.login(processResponse);

		    	});
		    	//$(".resendVerifyEmail").text("Email Sent");
		    	//$(".resendVerifyEmail").addClass("disabled");
		    }
		});
	});

});
</script>

{% endblock %}
          
          