<div class="coupleUpFormWrapper">
	<form class="coupleUpForm">
	
				<div class="card">
					<div class="card_title">
						<span>Create a Couple!</span>
						<i class="material-icons">group_add</i>
					</div>
					<div class="card-content">
						 <div class="input-field">
					           <input class="" placeholder="Partner Email" type="text" name="emailAddress">
					           <label>Partner's Email Address:</label>
					           <span class="active helper-text" data-error="User Not Found">Find your partner</span>
					           
					    </div>
				    </div>
				    <div class="card-action">
				    	<div class="right-align">
				    		<button type="submit" class="sendCoupleRequest btn light-blue" name="action" value="send">Send Couple Request</button>
				    	</div>
				    </div>
			    </div>
	
	</form>
</div>
