<!-- <div class="col s12 m12 l6">
<div class="card">
	<form class="coupelUpForm">

		<div class="card_title">
			<img src="/img/avatar.png" width="64px" height="64px" />
			<span>{{ request.firstName }} {{ request.lastName }}</span>
			<div class="right-align">
				Awaiting Response from Joe Thing
			</div>
		</div>
		
		<input type="hidden" name="awayPartnerId" value="{{ request.partnerId }}"/>

		<div class="card-action">
		<button type="button" class="submitCoupleUp btn blue" value="accept">Couple Up!</button>
		<button type="button" class="submitCoupleUp btn blue" value="decline">Decline</button>
		<input type="hidden" class="submitForm" name="action" value=""/>
		</div>

	</form>
	</div>
</div> -->

<!--  <div class="coupleInvitationSwipeable">			
  <ul id="tabs-swipe-demo" class="tabs hidden">
    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
        <li class="tab col s3"><a href="#test-swipe-4">Test 3</a></li>
    
  </ul>
  <div id="test-swipe-1" class="col s12">Test 1</div>
  <div id="test-swipe-2" class="col s12">Test 2</div>
  <div id="test-swipe-3" class="col s12">Test 3</div>
   <div id="test-swipe-4" class="col s12">Test 3</div>
</div>	-->