
	<div class="row">	
	
		<div class="col s12 m12 l4" data-1 data-6 data-9>
			{% for inputName in inputImgNames %}
			
					{% if inputName == "1" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "6" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "8" %}
						{% include "new_image.html" %}
					{% endif %}
			{% endfor %}
		</div>
				
		<div class="col s12 m12 l4" data-2 data-4 data-7>
			{% for inputName in inputImgNames %}

					{% if inputName == "2" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "4" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "9" %}
						{% include "new_image.html" %}
					{% endif %}

			{% endfor %}
		</div>
		
		<div class="col s12 m12 l4" data-3 data-5 data-8>
			{% for inputName in inputImgNames %}

					{% if inputName == "3" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "5" %}
						{% include "new_image.html" %}
					{% endif %}
					{% if inputName == "7" %}
						{% include "new_image.html" %}
					{% endif %}
			{% endfor %}
		</div>
		
	</div>
