<div class="image-wrapper">
	<div class="card">
	<div class="image">
		<input id="image_upload_{{ inputName }}" 
		class="image_upload"
		type="file"
		name="{{ inputName }}"
		accept=".jpg, .jpeg, .png">
		

					
		<div id="image_preview_{{ inputName }}" class="image_preview">
						<div class="image_upload_title">
						<i class="top-left material-icons">add_a_photo</i>
						
						<i class="material-icons">cloud_upload</i>
						Drag and Drop
					<br />your favorite photos
					</div>
		<!--  <button class="removeImage" type="button">X</button>-->
		<img {% if couple.profilePictures[inputName] %}
			{% set img = couple.profilePictures[inputName] %}
			src="{{ img.native }}"
			draggable="true"
			{% endif %}>
				
		</div>
	</div>
	<div class="card-action">
		<button type="button" class="btn light-blue upload">Upload Image</button>
  		<!--<a class="openCrop waves-effect waves-light btn light-blue modal-trigger" href="#crop_station">Crop</a>-->
	</div>
	</div>
</div>