  <div id="upload_profile_pic" class="modal">
 <form method="post" enctype="multipart/form-data" class="uploadImagesForm">
	<div class="ccImage card z-depth-1">
		<div class="ccNoImage">
				Drag and Drop
				<i class="material-icons">cloud_upload</i>
				your couple photo
		</div>
		<img src="" draggable="true">
		<div class="ccImage-actions">
		<input id="image_upload_0" 
			class="image_upload"
			type="file"
			name="0"
			accept=".jpg, .jpeg, .png">
			<button class="btn light-blue left upload">Select Image</button>
			<button class="btn light-blue right modal-close" type="submit">Save Image</button>
			<div style="clear:both;"></div>
		</div>
	</div>
	</form>
  </div>
          
          