<div class="card">
	<div class="card_title">
		<span>Tell us about your relationship</span>
		<i class="material-icons">group_add</i>
	</div>
	<div class="card-content">
		<div class="row">
			<div id="categoricalQuestions">
				{% for question in categoricalQuestions %}
					{% set choiceMade = couple[question.id] %}
					{% include "../../categorical_questions/categorical_question.twig.html" %}
				{% endfor %}
			</div>
			<button type="submit" class="btn light-blue right">Save</button>
		</div>
	</div>
</div>
