<div class="couple_story_card">
	<div class="card">
  		<div class="card_title">
			<img src="/img/avatar.png" width="32px" height="32px" class="responsive-img" />
			{% if homeCouple != null and homeCouple.coupleId == couple.coupleId %}
  				<span>{{ homePartner.firstName }} & {{awayPartner.firstName}}'s Story</span>
		    {% else %}
  				<span>{{ partnerHigher.firstName }} & {{partnerLower.firstName}}'s Story</span>
		    {% endif %}
  		</div>
  		<div class="card_content">
  			<div class="couple_story">
  			{% if couple.story %}
  			  		{{ couple.story }}
  			
  			{% else %}
  			{% if couple.coupleId == homeCouple.coupleId %}
  			<div class="emptyStory">
  			  		<span>I'm sorry it looks like your couple story is empty. Why don't you update your couple profile?</span>
  					<a href="/couple/update" class="btn light-blue">Update Couple Profile</a>
  			</div>
  			{% else %}
  			<div class="emptyStory">
  			  		<span>I'm sorry but it looks like their story is empty.</span>
  					<a href="/search" class="btn light-blue">Find other Couples</a>
  			</div>
  			{% endif %}
  			{% endif %}

          	</div>
  		</div>
  	</div>
</div>